body {
	background-color: rgb(172, 93, 224);
	font-size: 10px;
}

#main {
	width: 500px;
	margin: 50px auto;
}

.taskHolder {
	border: 1px solid #666;
	padding: 15px;
	border-radius: 10px;
	background-color: #CCC;
}

.task {
	position: relative;
	border: 1px solid #09f;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	height: 30px;
	list-style: none;
}

.remove {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 10px;
	background-color: rgb(219, 65, 65);
	color: rgb(19, 18, 18);
	padding: 8px;
	font-size: 1.2em;
	border-radius: 0.2em;
}

.remove:hover {
	cursor: pointer;
	color: white;
	background-color: red;
}