body {
	background-color: #666;
}

#main {
	width: 500px;
}

.taskHolder {
	border: 1px solid #666;
	padding: 10px;
	padding-bottom: 30px;
	border-radius: 10px;
	background-color: #CCC;
}

.task {
	position: relative;
	border: 1px solid #09f;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	list-style: none;
	text-align: center;
}

.remove {
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	padding: 4px;
}

.remove:hover {
	cursor: pointer;
	color: black;
}